{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto</title>

    <link rel="stylesheet" href="{% static 'assets/styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/orders.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@330&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="'https://cdn.js' %}delivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <p class="som"></p>
    <div class="mainContainer">
        <section class="sideBar">
            <div class="sidebarInner">
            <div class="profileImg">
                <aside class="pImg">
                    <img src="{% static 'assets/img/profile.jpeg' %}" alt="">
                </aside>
            </div>
            <br><br><br>
            <div class="navContainer">
                <aside class="navList">
                    <a class="homeNav">
                        <li class="nav">
                            <small class="fa fa-house"></small>
                            <small>Home</small>
                        </li>
                    </a>
                    <a href="assets/restaurant.html" class="restaurant">
                        <li class="nav">
                            <small class="fa fa-utensils"></small>
                            <small>Restaurants</small>
                        </li>
                    </a>
                    <a href="assets/orders.html" class="orderNav">
                        <li class="nav">
                            <small class="fa fa-sort"></small>
                            <small>Orders</small>
                        </li>
                    </a>
                    
                    <a href="assets/menu.html" class="menuNav">
                        <li class="nav">
                            <small class="fa fa-bowl-food"></small>
                            <small>Menu</small>
                        </li>
                    </a>
                    <a href="assets/settings.html">
                        <li class="nav">
                            <small class="fa fa-gear"></small>
                            <small>Settings</small>
                        </li>
                    </a>

                </aside>
            </div>

            <div class="logout">
                <aside class="logoutBtn">
                    <small class="fa fa-right-from-bracket"></small>
                </aside>
                <small>LOGOUT</small>
            </div>
            </div>
            
        </section>

        <section class="mainBody">
            <!-- Header section -->
            <div class="header">
                <div class="flex">
                    <i class="fa fa-bars"></i>
                    <aside class="username_date">
                    <h2 class="username">Joshua Odame</h2>
                    <small class="todayDate">March, 23, 12:14 PM</small>
                </aside>
                </div>
                

                <div style="display: flex;align-items: center;margin-right: 5px;">
                    <form class="search">
                        <div class="searchBar">
                            <input type="text">
                        </div>
                        <button class="searchBtn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                    <aside class="cartBtn" style="display: flex;align-items: center;">
                        <i class="fa fa-cart-shopping" style="font-size: 2rem;padding:0 0.5rem 0 1.5rem;"></i>
                        <div style="display: flex;align-items: center;justify-content:center;border: 1px solid red;width: 25px; height: 25px;border-radius: 50%; border-radius: 50;"
                            class="countCart">5</div>
                    </aside>

                    <div class="cart">
                        <aside class="" style="cursor: pointer;display: flex;justify-content: space-between;align-items: center;padding: 0.2rem;background-color: azure;margin: 0 0 0.5rem 0;">
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div class="foodImg" style="width: 30px;height: 30px;overflow: hidden; border-radius: 50%;margin:0 5px 0 0;">
                                    <img src="'{% static 'assets/img/meal1.jpg' %}" alt="">
                                </div>
                                <div class="foodTitle" style="display: flex;flex-direction: column;">
                                    <small style="margin: 0;padding: 0;">Jollof</small>
                                    <small style="margin: 0;padding: 0;">12:25</small>
                                </div>
                            </div>
                            <div class="price">
                                <b>Delete</b>
                            </div>
                        </aside>

                        <aside class=""
                            style="cursor: pointer;display: flex;justify-content: space-between;align-items: center;padding: 0.2rem;background-color: azure;margin: 0 0 0.5rem 0;">
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div class="foodImg" style="width: 30px;height: 30px;overflow: hidden; border-radius: 50%;margin:0 5px 0 0;">
                                    <img src="{% static 'assets/img/meal1.jpg' %}" alt="">
                                </div>
                                <div class="foodTitle" style="display: flex;flex-direction: column;">
                                    <small style="margin: 0;padding: 0;">Jollof</small>
                                    <small style="margin: 0;padding: 0;">12:25</small>
                                </div>
                            </div>
                            <div class="price">
                                <b>Delete</b>
                            </div>
                        </aside>

                        <aside class=""
                            style="cursor: pointer;display: flex;justify-content: space-between;align-items: center;padding: 0.2rem;background-color: azure;margin: 0 0 0.5rem 0;">
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div class="foodImg" style="width: 30px;height: 30px;overflow: hidden; border-radius: 50%;margin:0 5px 0 0;">
                                    <img src="{% static 'assets/img/meal1.jpg' %}" alt="">
                                </div>
                                <div class="foodTitle" style="display: flex;flex-direction: column;">
                                    <small style="margin: 0;padding: 0;">Jollof</small>
                                    <small style="margin: 0;padding: 0;">12:25</small>
                                </div>
                            </div>
                            <div class="price">
                                <b>Delete</b>
                            </div>
                        </aside>

                        <aside class="" style="cursor: pointer;display: flex;justify-content: space-between;align-items: center;padding: 0.2rem;background-color: azure;margin: 0 0 0.5rem 0;">
                            <h4 class="text-primary" style="text-align: center;width: 100%;font-weight: 600;">GHC 234</h4>
                        </aside>
                        
                        <aside class="" style="display: flex;justify-content: space-between;align-items: center;padding: 0.4rem;background-color: azure;margin: 0 0 0.5rem 0;">
                            <button class="btn btn-primary" style="width: 100%;">Place Order</button>
                        </aside>
                        <i class="closeCart fa fa-times" style="position: absolute;top: 0.7rem;left: 0.7rem; color: red; border: 1px solid red;width: 30px; height: 30px; border-radius: 50%;display: flex;justify-content: center;align-items: center;background-color: white;box-shadow: 0px 0px 5px -1px gray;cursor: pointer;"></i>
                    </div>
                </div>
            </div>


            <div class="mainPage">
                <div class="container1 homeContainer1">
                    <section class="sec1">
                        <div class="banner" style="position: relative;">
                            <aside class="bannerImg">
                                <div class="img"></div>
                            </aside>
                            <aside class="bannerContent"
                                style="padding:2rem;position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,.5); top: 0;left: 0;right: 0;bottom: 0; display: flex;flex-direction: column;justify-content: center;align-items: flex-start;">
                                <h1>Resto Meals ...</h1>
                                <p>Enjoy our amazing offers and eat good.</p><br>
                                <i>
                                    <small>The dealicious place with delicious meals</small>
                                </i>
                                <br><br><br>
                                <button class="btn btn-primary">Learn More</button>
                            </aside>
                        </div>
                        <div class="analysis">
                            <aside class="analysis1">
                                <b>Today's Discount</b>
                                <div>
                                    <h1>10%</h1>
                                    <small>For Purchase</small>
                                </div>
                            </aside>
                            <aside class="analysis2">
                                <b>Total Orders</b>
                                <div>
                                    <h1>28</h1>
                                    <small>orders</small>
                                </div>
                            </aside>
                        </div>
                    </section>


                    <section class="sec2">
                        <h3>Available Meals</h3>
                        <div class="availableMeals">
                            <aside class="foodItem item">
                                <!-- <div class="itm-inner"> -->
                                <img src="{% static 'assets/img/meal.jpg' %}" alt="">
                                <!-- </div> -->
                                <div class="subDet">
                                    <small
                                        style="width: 90%; text-align: center;font-size: 1.6rem;font-weight: 600;">Jollof
                                        with Chicken</small>
                                    <h1>GHC 230</h1>
                                    <button class="btn btn-view" id=""><a href="assets/mealDetail.html" style="color: white;">View Details</a></button>
                                    <button class="btn btn-buy" price="200" name="Jollof with chicken" id="">Buy /
                                        Order</button>
                                </div>
                            </aside>
                            <aside class="item">
                                <!-- <div class="itm-inner"> -->
                                <img src="{% static 'assets/img/meal1.jpg' %}" alt="">
                                <!-- </div> -->
                                <div class="subDet">
                                    <small
                                        style="width: 90%; text-align: center;font-size: 1.6rem;font-weight: 600;">Jollof
                                        with Chicken</small>

                                    <h1>GHC 230</h1>
                                    <button class="btn btn-view" id=""><a href="assets/mealDetail.html" style="color: white;">View Details</a></button>
                                    <button class="btn btn-buy" price="234" name="Jollof with chicken" id="">Buy /
                                        Order</button>

                                </div>
                            </aside>
                            <aside class="item">
                                <!-- <div class="itm-inner"> -->
                                <img src="{% static 'assets/img/meal2.jpg' %}" alt="">
                                <!-- </div> -->
                                <div class="subDet">
                                    <small
                                        style="width: 90%; text-align: center;font-size: 1.6rem;font-weight: 600;">Jollof
                                        with Chicken</small>

                                    <h1>GHC 230</h1>
                                    <button class="btn btn-view" id=""><a href="assets/mealDetail.html" style="color: white;">View Details</a></button>
                                    <button class="btn btn-buy" price="234" name="Jollof with chicken" id="">Buy /
                                        Order</button>
                                </div>
                            </aside>
                            

                        </div>
                    </section>
                </div>




                <div class="container2">
                    <dv class="placeOrder">
                        <h4 class="text-primary">Place your order here</h4>
                        <form class="placeOrderForm">
                            <!-- Name input -->
                            <div class="form-group allSelected">
                                <small>
                                    <i id="234" class="fa fa-times removeFood"></i>
                                    <b>Jollof with chicken</b>
                                </small>
                            </div>

                            <div class="form-group">
                                <small>Click on either to remove</small>
                            </div>

                            <div class="form-group">
                                <h1 class="total text-primary" id="totalPrice">₵0</h1>
                            </div>

                            <asidej class="v-flex" style="margin-bottom: 0.8rem">
                                <small>Select Delivery Type</small>
                                <select name="" id="">
                                    <option value="" >select</option>
                                    <option value="WalkIn">Walk-in</option>
                                    <option value="Pickup">Pickup</option>
                                </select>
                            </aside><p></p>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary placeOrderBtn">Place Order</button>
                        </form>
                    </dv>
                    <div class="activeOrders">
                        <div class="headen">
                            <h4 class="text-primary">Active Orders</h4>
                        </div>
                        <section class="sec1">
                            <div class="left">
                                <small>Active Orders</small>
                                <h6># 218084</h6>
                            </div>
                            <div class="right">
                                <small>TIME LEFT:</small>
                                <h3>09:12</h3>
                            </div>
                        </section>

                        <section class="sec2" id="recentOrders">
                            <div class="orderItem">
                                <aside>
                                    <div class="foodImg">
                                        <img src="{% static 'assets/img/meal1.jpg' %}" alt="">
                                    </div>
                                    <div class="foodTitle">
                                        <small>Jollof</small><br>
                                        <small>12:25</small>
                                    </div>
                                </aside>
                                <div class="price">
                                    <b>$20.00</b>
                                </div>
                            </div>


                        </section>
                    </div>


                </div>

            </div>
        </section>
    </div>

    <script src="{% static 'assets//scripts/uiInteractions.js' %}"></script>
    <script src="{% static 'assets/scripts/main.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>