{% extends 'base.html' %}
{% load static %}
{% block title %} - Menus {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/orders.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/menu.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@330&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<section class="mainBody">
    <!-- Header section -->
    <div class="header">
        <div class="flex">
            <i class="fa fa-bars"></i>
            <aside class="username_date">
                <h2 class="username">{{request.user.first_name}} {{request.user.last_name}}</h2>
                <small class="todayDate">March, 23, 12:14 PM</small>
            </aside>
        </div>
        <div style="display: flex;align-items: center;margin-right: 5px;">
            
            {% include 'cartcomponent.html' %}
        </div>
    </div>

    <div class="menu mainPage">
        <div class="container1">
            <section class="sec2">
                <h3>Resto Menu</h3>
                <div class="availableMeals">
                {% for object in meals %}
                    <aside class="item">
                        <!-- <div class="itm-inner"> -->
                        <img src="{{object.image.url}}" alt="">
                        <!-- </div> -->
                        <div class="subDet">
                            <small style="width: 90%; text-align: center;font-size: 1.6rem;font-weight: 600;">
                                {{object.name}}
                            </small>
                            <h1>${{object.price}}</h1>
                            <button class="btn btn-view" id=""><a href="{% url 'website:menus-detail' object.id %}" style="color: white;">View
                                    Details</a></button>
                                    <a href="{% url 'website:order-meal' object.id %}">
                                    <button class="btn btn-buy" id="">
                               
                                     Buy
                                
                            </button>
                            </a>
                        </div>
                    </aside>
                {% endfor %}
                </div>
            </section>
        </div>
    </div>


</section>
{% endblock %}
{% block scripts %}
<script>

    const bars = document.querySelector(".fa-bars");
    const sideBar = document.querySelector(".sideBar");
    let checkSidebar = false;
    function checkBar() {
        if (!checkSidebar) {
            sideBar.classList.remove("showSidebar")
            bars.classList.remove("fa-times")
            if (!bars.classList.contains("fa-bars")) {
                bars.classList.add("fa-bars")
            }
        } else {
            sideBar.classList.add("showSidebar")
            bars.classList.add("fa-times")
            if (bars.classList.contains("fa-bars")) {
                bars.classList.remove("fa-bars")
            }
        }
    }
    bars.addEventListener("click", () => {
        checkSidebar = !checkSidebar;
        checkBar();
    })
</script>
<script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %}"></script>
{% endblock %}