{% extends 'base.html' %}
{% load static %}
{% block title %} - Settings {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/orders.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/settiings.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/menu.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@330&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<section class="mainBody">
    <!-- Header section -->
    <div class="header">
        <div class="flex">
            <i class="fa fa-bars"></i>
            <aside class="username_date">
                <h2 class="username">Joshua Odame</h2>
                <small class="todayDate">March, 23, 12:14 PM</small>
            </aside>
        </div>
        <div style="display: flex;align-items: center;margin-right: 5px;">
            <form class="search">
                <div class="searchBar">
                    <input type="text">
                </div>
                <button class="searchBtn">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            {% include 'cartcomponent.html' %}
        </div>
    </div>

    <div class="mainPage">
        <div class="settingsContainer">
            <aside class="settingsInner">
                <br>
                <small>Click on image to change your profile picture</small><br>
                <div class="profileImg">
                    <input type="file">
                    <img src="assets/img/profile.jpeg" alt="">
                </div>

                <br>

                <div class="content">
                    <small>Username</small><br>
                    <input type="text" placeholder="Username">
                    <br>
                    <p></p>

                    <small>Password</small><br>
                    <input type="password" placeholder="Username">
                    <br>
                    <p></p>

                    <small>Phone</small><br>
                    <input type="text" placeholder="Phone number">
                    <br>
                    <p></p>
                    <br>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>


            </aside>
        </div>
    </div>


</section>
{% endblock %}
{% block scripts %}
<script>

    const bars = document.querySelector(".fa-bars");
    const sideBar = document.querySelector(".sideBar");
    let checkSidebar = false;
    function checkBar() {
        if (!checkSidebar) {
            sideBar.classList.remove("showSidebar")
            bars.classList.remove("fa-times")
            if (!bars.classList.contains("fa-bars")) {
                bars.classList.add("fa-bars")
            }
        } else {
            sideBar.classList.add("showSidebar")
            bars.classList.add("fa-times")
            if (bars.classList.contains("fa-bars")) {
                bars.classList.remove("fa-bars")
            }
        }
    }
    bars.addEventListener("click", () => {
        checkSidebar = !checkSidebar;
        checkBar();
    })
</script>
<script src="{% static 'assets/scripts/uiInteractions.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}